# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# Build outputs
docs/
notebooks/_build/
jupyterlite_things/
_build/

# Local/editor files
.DS_Store
.idea/
.vscode/
.jupyterlite.doit.db
.venv/